

*{
	padding: 10px;
	margin: 0px;
}

body{
	background-image: url(../imagenes/nebulosa.jpg);
	background-attachment: fixed;
	width: 100%;
	height: auto;
}

.head{
	width: 80%;
	height: 100px;
	margin: auto;
}


.contenedor{
	background: rgba(255,255,255,0.3);
	margin-top: 100px;
	border-radius: 0px 10px 10px 10px;
	width: 80%;
	height: 800px;
	margin: auto;
}

.contenedor1{
    background: rgba(255,255,255,0.3);
    margin-top: 100px;
    border-radius: 0px 10px 10px 10px;
    width: 80%;
    height: 600px;
    margin: auto;
}

.imagen_ini{
    background-image: url(../imagenes/sinapsis1.jpg);
    width:88%;
    height: 400px;
    margin: auto;
    border-radius: 10px;
}


.imagen_noti{
    background-image: url(../imagenes/sinapsis2.jpg);
    width:88%;
    height: 280px;
    margin: auto;
    border-radius: 10px;
}


footer{
	color: white;
	text-align: center;
}

nav{
    margin-left: 30%;
    border-radius:10px;
    overflow:hidden;
    padding:10px;
    width:100%;
    text-align: center;
}


nav ul{
    list-style:none;
    margin:0 0px 0 10px;
    padding:0;
}


nav ul li{

    border-radius:5px;
    float:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:bold;
    margin-right:10px;
    text-align:center;
}


nav ul li:hover{
    background-color: rgba(255, 255, 255,0.3);
    
}


nav ul li a{
    color:#fff;
    display:block;
    padding:10px;
    text-decoration:none;
    transition: 0.8s linear all;
}
nav ul li a:hover{
    color:#000;
}

.rounded{
    display:inline-block;
    position:relative;
    overflow:hidden;
}

.rounded > img{
    vertical-align:top;
    border-radius:2em;
}

.rounded, .rounded:before{
    border-radius:2em;
    border-radius:2em;
}


.texto1{
    font-family: Arial, Helvetica;
    font-size: 18px;
    text-align: justify;
    width: 88%;
    margin: auto;
}

.texto2{
    color: white;
    font-family: Arial, Helvetica;
    font-size: 18px;
    text-align: justify;
    width: 88%;
    margin: auto;
}